<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trip Planner</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Explore!</h1>
  <form action="/explore/search" method="post">
    <input type="text" name="term" placeholder="Search for attractions">
    <input type="submit" value="Search">
  </form>
  <h1>Top Attractions in <%= results[0].location.city %></h1>
  <% results.forEach( result => { %>
    <div class="tourism">
      <h2><%= result.name %></h2>
      <p>Rating: <%= result.rating %> <img src="<%= result.rating_img_url_small %>" alt=""></p>
      <p><%= result.snippet_text %>
        <a href="<%= result.url %>">more info here</a>
      </p>
      <p>Address: <%= result.location.display_address %></p>
      <p>Phone: <%= result.display_phone %></p>
      <div id="attraction-image">
        <img src="<%= result.image_url %>" alt="">
      </div>
      <form class="save-favorite" action="/explore/favorites" method="POST">
          <input type="hidden" name="city" value=" <%= result.location.city %>">
          <input type="hidden" name="favorite[name]" value="<%= result.name %>">
          <input type="hidden" name="favorite[coordinate]" value="<%= result.location.coordinate %>">
          <input type="hidden" name="favorite[snip]" value="<%= result.snippet_text %>">
          <input type="hidden" name="favorite[address]" value="<%= result.location.display_address %>">
          <input type="hidden" name="favorite[phone]" value="<%= result.display_phone %>">
          <input type="submit" value="Add to Bucket List!">
        </form>
    </div>
  <% }) %>
</body>
</html>
