<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trip Planner</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Dosis|Open+Sans+Condensed:300|Sacramento" rel="stylesheet">
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA09kvA9vyvsfp5YwCTMycQ8DUMP5Pzbfo&libraries=places'>
  </script>
</head>

<body>
  <header class="explore-header">
    <h1>Explore.</h1>
    <div id="logo">
      <h2>Travel Buddy</h2>
      <div class="explore-header-links">
        <a href="/users/profile">Home<span> | </span></a>
        <form action="/auth?_method=DELETE" method="post">
          <input type="submit" value=" Log out.">
        </form>
      </div>
    </div>
    <div class="explore-header-band"></div>
  </header>

  <div class="search-bar">
    <form action="/search" method="GET">
      <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
      <input type="text" id="autocomplete" name="term" placeholder="Search for attractions">
      <input type="submit" value="Search">
    </form>
  </div>


  <div class='search-results-container'>
    <div id="bucket-list">
      <h1>Bucket List</h1>
      <h2><%= city[0].formatted_address %></h2>
      <div id="list-item-container">
        <ul class="visit-here-list">
          <% favorites.forEach( attraction => { %>
          <li class="bucket-list-item">
            <h3><%= attraction.name %></h3>
            <form action="/explore/edit/<%= attraction._id %>" method="GET">
               <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
               <input type="submit" value="edit">
            </form>
            <form class="delete-favorite" action="/explore/favorites/<%= attraction._id %>?_method=DELETE" method="post">
              <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
              <input type="submit" value="Remove">
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
      <div id="see-my-trip">
        <form action="/maps" method="GET">
          <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
          <input type="hidden" name="lat" value=" <%= city[0].geometry.location.lat %>">
          <input type="hidden" name="lng" value=" <%= city[0].geometry.location.lng %>">
          <input type="submit" value="See my trip!">
        </form>
      </div>
    </div>

    <div class="yelp-results-container">
      <div>
        <h1>Top Attractions in <%= city[0].formatted_address %></h1>
        <h1>|</h1>
        <h1><%= Math.floor(weather.main.temp) %>°F <%= icon %></h1>
      </div>
      <div class='yelp-results'>
        <% results.forEach( result => { %>
          <div class="tourism">
            <div class="yelp-info-content">
              <div class="yelp-info">
                <h2><%= result.name %></h2>
                <p id="rating">Rating: <%= result.rating %> <img src="<%= result.rating_img_url_small %>" alt=""></p>
                <p><%= result.snippet_text %>
                  <a href="<%= result.url %>">more info here</a>
                </p>
                <p><span>Address:</span> <%= result.location.display_address %></p>
                <p><span>Phone:</span> <%= result.display_phone %></p>
              </div>
              <div class="attraction-image">
                <img src="<%= result.image_url %>" alt="">
                <form class="save-favorite" action="/explore/favorites" method="POST">
                  <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
                  <input type="hidden" name="favorite[name]" value="<%= result.name %>">
                  <% if (result.location.coordinate) { %>
                    <input type="hidden" name="favorite[latitude]" value="<%= result.location.coordinate.latitude %>">
                    <input type="hidden" name="favorite[longitude]" value="<%= result.location.coordinate.longitude %>">
                  <% } %>
                  <input type="hidden" name="favorite[snip]" value="<%= result.snippet_text %>">
                  <input type="hidden" name="favorite[address]" value="<%= result.location.display_address %>">
                  <input type="hidden" name="favorite[phone]" value="<%= result.display_phone %>">
                  <input type="hidden" name="favorite[photo]" value="<%= result.image_url %>">
                  <input type="hidden" name="favorite[info]" value="<%= result.url %>">
                  <input type="submit" value="Add to Bucket List!">
                </form>
              </div>
            </div>
          </div>
        <% }) %>
        <% if (results.length === 0) { %>
        <p>Sorry, we do not currently have information on that city. Please choose another destination.</p>
        <% } %>
      </div>
    </div>
  </div>

    <footer>
      <p>"I haven't been everywhere, but it's on my list."
       - Susan Sontag</p>
    </footer>
    <script>
  // https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-hotelsearch
  // some help from here as well! :
  // http://stackoverflow.com/questions/13689705/how-to-add-google-maps-autocomplete-search-box
  function makeAutocomplete() {
    const input = document.getElementById('autocomplete');
    // Setting the default bounds to the viewport of Miami will help make searchs
    // more relevant for users
    const defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(<%= city[0].geometry.viewport.southwest.lat %>,<%= city[0].geometry.viewport.southwest.lng %>),
      new google.maps.LatLng(<%= city[0].geometry.viewport.northeast.lat %>,<%= city[0].geometry.viewport.northeast.lng %>));
    const options = {
      bounds: defaultBounds,
    }
    const autocomplete = new google.maps.places.Autocomplete(input, options);
  }
  google.maps.event.addDomListener(window, 'load', makeAutocomplete);
  </script>
</body>
</html>
