<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map</title>
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <header>
    <h1>Escape.</h1>
    <a href="/users/profile">Home</a>

  </header>
  <form action="/explore" method="GET">
    <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
    <input type="submit" value="Go back and edit my plans">
  </form>

  <div id="activity-list">
    <% const labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'; %>
    <% let labelIndex = 0; %>
    <% for (let i = 0; i < favorite.length; i++) { %>
      <div class="todo-list-item">
        <div class="todo-list-info">
          <h3><%= labels[i] %>. <%= favorite[i].name %></h3>
          <p><%= favorite[i].snip %>
            <a href="<%= favorite[i].info %>">more info...</a>
          </p>
          <p><%= favorite[i].address %></p>
          <p><%= favorite[i].phone %></p>
          <div class="todo-list-image">
            <img src="<%= favorite[i].photo %>" alt="">
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <div id="activity-map">
    <div id="map"></div>
  </div>
  <script>
    function initMap() {
      const center = { lat: <%= lat %>, lng: <%= lng %>};

      const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: center,
       });

      const array = [];
      <% for (let i = 0; i < favorite.length; i++ ) { %>
        for (let j = 0; j < 1; j++) {
          let innerarray = [];
          innerarray.push('<%= favorite[i].name %>');
          innerarray.push('<%= favorite[i].latitude %>');
          innerarray.push('<%= favorite[i].longitude %>');
          array.push(innerarray);
        }
      <% } %>

      const labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      let labelIndex = 0;

      for (let i = 0; i < array.length; i++) {
        var position = new google.maps.LatLng(array[i][1], array[i][2]);
        marker = new google.maps.Marker({
          position: position,
          map: map,
          title: array[i][0],
          label: labels[i],
        });
      }
    }
  </script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA09kvA9vyvsfp5YwCTMycQ8DUMP5Pzbfo&callback=initMap'></script>
</body>
</html>
