<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Your City</title>
  <link rel="stylesheet" href="/css/main.css">
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA09kvA9vyvsfp5YwCTMycQ8DUMP5Pzbfo&libraries=places'>
  </script>
</head>
<body>
  <h1>Search!</h1>
  <a href="/users/profile">Home</a>
  <form action="/search" method="GET">
    <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
    <input type="text" id="autocomplete" name="term" placeholder="Search for attractions">
    <input type="submit" value="Search">
  </form>
  <div id="bucket-list">
    <h1>Bucket List for <%= city[0].formatted_address %></h1>
    <ul class="visit-here-list">
      <% favorites.forEach( attraction => { %>
      <li class="bucket-list-item">
        <h3><%= attraction.name %></h3>
        <form class="delete-favorite" action="/explore/favorites/<%= attraction._id %>?_method=DELETE" method="post">
          <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
          <input type="submit" value="Delete">
        </form>
      </li>
      <% }) %>
      <form action="/maps" method="GET">
        <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
        <input type="hidden" name="lat" value=" <%= city[0].geometry.location.lat %>">
        <input type="hidden" name="lng" value=" <%= city[0].geometry.location.lng %>">
        <input type="submit" value="See my trip!">
      </form>
    </ul>
  </div>

  <div id="search-results">
    <% places.forEach( place => { %>
      <div class="search-item">
        <h3><%= place.name %></h3>
        <p>Rating: <%= place.rating %> <img src="<%= place.rating_img_url_small %>" alt=""></p>
        <p><%= place.snippet_text %>
          <a href="<%= place.url %>">more info here</a>
        </p>
        <p>Address: <%= place.location.display_address %></p>
        <p>Phone: <%= place.display_phone %></p>
        <div id="attraction-image">
          <img src="<%= place.image_url %>" alt="">
        </div>
      <div>
        <form class="save-favorite" action="/explore/favorites" method="POST">
          <input type="hidden" name="location" value=" <%= city[0].formatted_address %>">
          <input type="hidden" name="favorite[name]" value="<%= place.name %>">
          <input type="hidden" name="favorite[location]" value=" <%= place.location.city  %>">
          <input type="hidden" name="favorite[latitude]" value="<%= place.location.coordinate.latitude %>">
          <input type="hidden" name="favorite[longitude]" value="<%= place.location.coordinate.longitude %>">
          <input type="hidden" name="favorite[snip]" value="<%= place.snippet_text %>">
          <input type="hidden" name="favorite[address]" value="<%= place.location.display_address %>">
          <input type="hidden" name="favorite[phone]" value="<%= place.display_phone %>">
           <input type="hidden" name="favorite[photo]" value="<%= place.image_url %>">
          <input type="hidden" name="favorite[info]" value="<%= place.url %>">
          <input type="submit" value="Add to Bucket List!">
        </form>
      </div>
    </div>
    <% }) %>
  </div>

  <script>
  // https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-hotelsearch
  // some help from here as well! :
  // http://stackoverflow.com/questions/13689705/how-to-add-google-maps-autocomplete-search-box
  function makeAutocomplete() {
    const input = document.getElementById('autocomplete');
    // Setting the default bounds to the viewport of Miami will help make searchs
    // more relevant for users
    const defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(<%= city[0].geometry.viewport.southwest.lat %>,<%= city[0].geometry.viewport.southwest.lng %>),
      new google.maps.LatLng(<%= city[0].geometry.viewport.northeast.lat %>,<%= city[0].geometry.viewport.northeast.lng %>));
    const options = {
      bounds: defaultBounds,
    }
    const autocomplete = new google.maps.places.Autocomplete(input, options);
  }
  google.maps.event.addDomListener(window, 'load', makeAutocomplete);
  </script>
</body>
</html>
